body {

    background: url(4B/back.jpg)center/cover;
    min-height: 100vh;
    margin-left: black;
}

h1 {
    font-style:initial;
    letter-spacing: 2.5px;
    text-align: center;
    font-size: 5rem;
    text-shadow: 0px 3px 7px rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    margin: 0;
    color: #000000;
}

h2 {
    font-size: 1.6rem;
    margin: 0;
    color: #000000;
} 

h3 {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}

main {
    min-height: 100vh;
    width: 90%;
    background-color: #ffffff85;
    margin: 0 auto;
    border: 2px solid rgb(225, 1, 255);
    border-radius: 20px;
    box-shadow: -3px -2px 13px 3px #d800ff;
    padding: 15px ;
    }

    .flexbox , .grid , .cc , .apdn , .flexbox li{

        border: 2px solid rgb(225,1, 255);
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        box-shadow: 0px 2px 5px 2px rgb(228, 0, 255) ;

    }

    .flexbox ul {
    color: #000000;
    padding: 0;
    display: flex;
    justify-content: space-around;
    }

    .flexbox li {
        list-style: none;
        height: 300px;
        width: 600px;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background: #ffffff85 ;
        color: rgb(0, 0, 0);
    }
.grid-container {
display: grid;
grid-template-columns: 30% 70%
}
.grid img {
width: 80%;
margin: 20px auto;
display: block;
}

form {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
     "vi bt";
}

#caca {

grid-area: bt;
cursor: pointer;
transition: 0.2s;
}

#caca:hover {
    background: #dee5eb;
    color: #000000;
}

@media screen and (max-width: 951px) {
    .grid-container{
        display: block;
    }

    .grid-container img {
        width: 40%;
    }
    .cc {
        display: block;
        border-width: 40%;
    }
    .class {
        display: block;
    border-width: 40%;
    width: 130%;
    
    }
}

@media screen and (max-width: 680px) {
form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "i1"
    "i2"
    "bt";
} 
.cc {
    display: block;
    border-width: 40%;
}
}

.cc {
    list-style: none;
        height: 300px;
        min-width: 40%;
        margin-top: 20;
        border-radius: 10px;
        padding: 10px;

}
li {
    color: white;
}

.apdn {
    list-style: none;
    min-height: 300px;
    min-width: 40%;
    margin-top: 20;
    border-radius: 10px;
    padding: 10px;
    }
    #classs {
        width: 70%;
    }

    #a {
        background: url(4B/ness.jpg) center/cover;
    }

    #b {
        background: url(4B/pit.jpg)center/cover;
    }

    #c {
        background: url(4B/mario.jpg)center/cover;
    }